:root {
  --body-bg: #e0f6ff;
  --card-bg: #fff;
  --text-fg: #fff;
  --video-bg: #fcffe0;

  /* Button */
  --button-bg: #fff;
  --button-fg: #333;
  --button-bd: #555;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--body-bg);
}

.js-video-controls {
  display: flex;
  gap: 8px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.video-wrapper video {
  max-height: 80vh;
  background-color: var(--video-bg);
  width: 100%;
}

.js-compress-controls {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 24px;
}

.js-video-controls,
.video-wrapper .js-progress-container {
  padding: 12px 16px;
}

.video-wrapper .js-video-progress {
  width: 100%;
  outline: none;
}

.duration-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
}

.video-container {
  position: relative;
}

.file-input-floating {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  all: unset;
  border: 2px solid var(--button-bd);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  transform: translateY(-6px);
  margin-top: 6px;
  box-shadow: 0 6px 0 0 pink, 0 7px 2px 0 black;

  transition: all 100ms;
}

.wide-button {
  min-width: 200px;
}

.file-size-input {
  all: unset;
  border: 2px solid var(--button-bd);
  border-radius: 8px;
  padding: 0 16px;
  height: 40px;
  background-color: var(--button-bg);
  color: var(--button-fg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  transition: all 100ms;
  min-width: 200px;
}

.file-size-input-wrapper {
  position: relative;
  display: inline-block;
}

.file-size-input-wrapper::after {
  content: 'mb';
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

/* Play-pause button */
.button.playing .feather-play,
.button.paused .feather-pause {
  display: none;
}
.button.paused .feather-play,
.button.playing .feather-pause {
  display: flex;
}

/* Mute-unmute button */
.button.unmuted .feather-volume-x,
.button.muted .feather-volume {
  display: none;
}
.button.muted .feather-volume-x,
.button.unmuted .feather-volume {
  display: flex;
}

.disabled,
#file-input:disabled + label.button,
.button:disabled,
.button:active {
  transform: translateY(0);
  box-shadow: 0 0 0 0 pink;
}

.disabled {
  pointer-events: none;
}

.disabled,
#file-input:disabled + label.button,
.button:disabled {
  opacity: 0.4;
}

.hidden {
  display: none;
}