:root {
  --body-bg: #e0f6ff;
  --card-bg: #fff;
  --text-fg: #fff;

  /* Button */
  --button-bg: #fff;
  --button-fg: #333;
  --button-bd: #555;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--body-bg);
}

.js-video-controls {
  display: flex;
  gap: 8px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.video-wrapper video {
  max-height: 80vh;
}

.js-video-controls,
.video-wrapper .js-progress-container {
  padding: 12px 16px;
}

.video-wrapper .js-video-progress {
  width: 100%;
  outline: none;
}

.duration-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
}

.button {
  all: unset;
  border: 2px solid var(--button-bd);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  transform: translateY(-6px);
  margin-top: 6px;
  box-shadow: 0 6px 0 0 pink, 0 7px 2px 0 black;

  transition: all 100ms;
}

/* Play-pause button */
.button.playing .feather-play,
.button.paused .feather-pause {
  display: none;
}
.button.paused .feather-play,
.button.playing .feather-pause {
  display: flex;
}

/* Mute-unmute button */
.button.unmuted .feather-volume-x,
.button.muted .feather-volume {
  display: none;
}
.button.muted .feather-volume-x,
.button.unmuted .feather-volume {
  display: flex;
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 0 0 0 pink;
}

#file-input:disabled + label.button,
.button:disabled {
  opacity: 0.4;
}

.hidden {
  display: none;
}